:root{
	--main-bg-color: rgba(0, 0, 10, 0.6);
	--sec-bg-color: rgba(230, 230, 255, 0.7);
	--main-text-color: rgba(230, 230, 255, 0.9);
	--sec-text-color: black;
}

.no-style, .no-style:hover {
    width: auto !important;
    font-weight: normal !important;
    padding: 0 !important;
    color: white !important;
    text-decoration: none !important;
    border-radius: 0 !important;
    border: 0 !important;
}

body{
	background: radial-gradient(circle, rgba(19, 32, 52,1) 0%, rgba( 10, 22, 70,1) 50%, rgba( 28, 37, 83,1) 100%);  
    
    color: var(--main-text-color);;
    font-family: monospace;
    font-size: 1.1rem;
}

a{
    width: auto;
    padding: 1rem;
    color: var(--main-text-color);
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.34rem;
}

a:hover{
    color: black;
    background: var(--sec-bg-color);
}

button {
    color: white;
    font-weight: bolder;
    background-color: black;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 1rem;
}

button:hover {
    color: black;
    background-color: var(--sec-bg-color);
}

#header {
	width: 100%;
	
	list-style: none;
	
	padding: 1rem;
    color: var(--sec-text-color);
    
    position: static;
    top: 0;
    left: 0;
    
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: flex-start;
	align-content: flex-start;
	align-items: center;
}

#Logo{
	margin: 0;
	padding: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
    text-shadow: 2px 2px var(--sec-bg-color);
    border-radius: 10rem;
}

.ContentBox{
    overflow-wrap: break-word;
    display: block;
    border-style: solid;
    text-align: left;
    background: var(--main-bg-color);
    border: solid 0.2pc;
    padding: 1.5rem;
    border-color: var(--sec-bg-color);
    border-radius: 1rem;
    box-shadow: 1rem 1rem rgba(0.5, 0.5, 0.5, 0.5);
}

.ContentBox a{
    font-weight: bold;
    padding: 0.1rem;
    color: var(--main-text-color);
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.ContentBox a:hover{
    color: var(--sec-text-color);;
}

.Content{
    padding: 7vh 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
    gap: 1rem;
}

h2{
    padding: 0.3rem;
}

footer{
    width: 100%;
    height: 2rem;
    padding-top: 1vh;

    position: static;
    bottom: 0;
    left: 0;
 	
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	align-content: flex-start;
 	flex-wrap: wrap;
}

footer a{
    padding: 0.3rem;
    border-left: solid 1rem;
    border-color: var(--sec-bg-color);
    width: auto;
}

img{
    border: solid 2px white;
    border-radius: 1rem;
    width: 100%;
}

.Droplet{
    border: 0;
    border-radius: 0;
    padding: 0;
}

.CodeBlock{
	padding: 1rem;
    display: block;
    background: var(--main-bg-color);
    color: var(--main-text-color);
    border: 0.4rem solid white;
    border-radius: 0.2rem;
}

@media(max-width: 680px) {
	.Content{
    	padding: 10vh 1vw;
    	display: grid;
    	grid-template-columns: 1fr;
    	gap: 1rem;
	}
	
	footer {
		position: relative;
		width: 100%;
	}
}
